.login-container{
    background-image: url(../../../images/login.jpg), linear-gradient(to right, rgba(255,0,0,0), rgb(200, 0, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    /* width: 100vw; */
    height: 100vh;

}